In [1]:
from ipstartup import *
import rasterio as rio

# Population

In [183]:
population = r"D:\omdena\nga_ppp_2018.tif"
population = rio.open(population)
populationdata = population.read(1)
df = pd.DataFrame(populationdata.reshape(-1), columns=["n"])
df.loc[df.n==-99999, "n"] = 0

[cellevents:INFO]:starting (cellevents.py:43, time=Nov-12 15:26)

time: 7.91 s

In [188]:
df = df.sample(int(1e5))

[cellevents:INFO]:starting (cellevents.py:43, time=Nov-12 15:28)

time: 102 ms

In [189]:
# percent of 1km2 cells with people/km2
g = df.groupby(pd.cut(df.n, [0,5,10,40,50,int(df.n.max())]))
g = g.count()
g["pc"] = (g.n/g.n.sum()*100).round(1)
g

[cellevents:INFO]:starting (cellevents.py:43, time=Nov-12 15:28)

               n    pc
n
(0, 5]     59963  93.6
(5, 10]     2319   3.6
(10, 40]    1507   2.4
(40, 50]      77   0.1
(50, 457]    171   0.3

time: 35 ms

In [190]:
# radius of circle with 4000 people
#4000/p km2 = np.pi * r**2
r = lambda p: np.sqrt(4000/p/np.pi)
print("pop/km2  radius")
for x in list(range(1, 10))+[20,30,40,50]:
    print(x, "      ", r(x).round(1))

[cellevents:INFO]:starting (cellevents.py:43, time=Nov-12 15:28)

pop/km2  radius
1        35.7
2        25.2
3        20.6
4        17.8
5        16.0
6        14.6
7        13.5
8        12.6
9        11.9
20        8.0
30        6.5
40        5.6
50        5.0
time: 86 ms

In [ ]:
"""
THINGS TO CONSIDER
how does cost change with density? 35km is a long way to run cables.
when is it cheaper to put a second unit in rather than run cables?
what density is economically feasible for a 50kw panel?
are smaller panels available for low density areas?
"""

# lights

In [3]:
lights = r"D:\omdena\SVDNB_npp_20190401-20190430_75N060W_vcmcfg_v10_c201905191000.avg_rade9h.tif"
lights = rio.open(lights)
lightsdata = lights.read(1)
df = pd.DataFrame(lightsdata.reshape(-1), columns=["n"])

[cellevents:INFO]:starting (cellevents.py:43, time=Nov-12 15:34)

time: 33 ms

In [4]:
df = df.sample(int(1e5))

[cellevents:INFO]:starting (cellevents.py:43, time=Nov-12 15:34)

time: 2min

In [32]:
# percent of cells with light level
g = df.groupby(pd.cut(df.n, [df.n.min(),0, .5, 5, 40,50,int(df.n.max())])).count()
g["pc"] = (g.n/g.n.sum()*100).round(1)
g

[cellevents:INFO]:starting (cellevents.py:43, time=Nov-12 15:44)

                   n    pc
n
(-0.51, 0.0]   33075  33.1
(0.0, 0.5]     63164  63.2
(0.5, 5.0]      3248   3.2
(5.0, 40.0]      458   0.5
(40.0, 50.0]      13   0.0
(50.0, 224.0]     40   0.0

time: 24 ms

In [ ]:
"""
QUESTIONS
what do the numbers mean in practice? how do they relate to KW?
better datasets e.g. annual ones available with outliers removed? where are the annual ones - not on NOAA website.
Includes moonlight reflected off clouds. What level of light indicates electricity?
is there zero and inadequate electricity? How do we define this?
"""